$ts: 4px;
$marginPercent: 5%;

body, html{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: aqua;
}

h1{
    text-align: center;
    font-size: 60px;
    color: pink;
    text-shadow: $ts $ts black;  
}
#main{
    background-color: white;
    width: 90%;
    height: 70%;
    margin-left: $marginPercent;
    margin-right: $marginPercent;
    padding-top: 5%;
    border: 3px solid green;

    form{
        padding-top: 15%;
        padding-bottom: 15%;
    }
}
#submit{
    margin: auto;
    width: 90%;
    border: 3px solid green;
    padding-top: 10px;
    text-align: center;
    
    label{
        font-size: 40px;
        margin: auto;   
    }
    input{
        width: 100px;
        height: 35px;
        padding: 5px;
    }
    button{
        height: 50px;
        width: 100px;
        margin-bottom: 20px;
    }
}



