$ts: 4px;
$marginPercent: 5%;
$mp2: 5%;

body, html{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: aqua;
}

h1{
    text-align: center;
    font-size: 60px;
    color: pink;
    text-shadow: $ts $ts black;  
}
#main{
    background-color: white;
    width: 90%;
    height: 70%;
    margin-left: $marginPercent;
    margin-right: $marginPercent;
    border: 3px solid green;
    position: relative;
}
a{
    font-size: 20px;
    display: block;
}
#back{
    &:before{
        content: "\2190"
    }
}

p{
    display: inline-block;
    font-size: 30px;
}

.cards{
    width: 20%;
    height: 200px;
    background-color: orange;
    clear: both;
    display: inline-block;
    border: 3px solid green;
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    font-size: 80px;
}

#first{
    margin-left: $mp2;
    margin-right: $mp2;
}
#second{
    margin-left: $mp2;
    margin-right: $mp2;
}
#answer{
    margin-left: $mp2;
    margin-right: $mp2;    
}
#reveal{
    font-size: 100px;
    display:none;
}
#answer:hover #reveal{
    display: block;
}

#hidden{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    input{
        display: none;

    }
    button{
        
        
    }
}