<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Flash Cards!</title>
    </head>

    <body>
        <h1>Learn Multiplication!</h1>

        <div id="main">
            <a id="back" href = "{{url_for('index')}}">Choose a new number</a>
            
            <div id="first" class="cards">
                {{number}}
            </div>
            <p>X</p>
            <div id="second" class="cards">
                {{rando}}
            </div>
            <p>=</p>
            <div id="answer" class="cards">
                <input id="numb">
                <button type="button" onclick="myFunction()">Submit</button>
                <p id="demo"></p>
            </div>

            <form id="hidden" action="{{url_for('main')}}" method="POST">
                <input name="number" type="number" value="{{number}}">
                <input name="previous" type="number" value="{{rando}}">
                <button>Next One</button>
            </form>
        </div>


        <script>
            function myFunction() {
              var x, text;
              var rand = {{ answer }};
            
              // Get the value of the input field with id="numb"
              x = document.getElementById("numb").value;
            
              // If x is Not a Number or less than one or greater than 10
              if (x != rand) {
                text = "Try Again!";
              } else {
                text = "Correct!";
              }
              document.getElementById("demo").innerHTML = text;
            }
        </script>
    </body>
</html>